body{
	width:100%;
	height:auto;
	padding:0;
	margin:0 auto;
	box-sizing:border-box;
    font-family: Nunito;
	font-size:18px;
	overflow-x:hidden;
}
.homepageCustomer{
	background:#1da4b1;
}
.systemCompany{
	overflow-y:hidden;
	background:#192024;
}
.reservation{
	background:#222a31;
}
@font-face {
  font-family: Nunito;
  src: url(font/Nunito-Regular.ttf);
}
@font-face {
  font-family: NunitoBold;
  src: url(font/Nunito-Bold.ttf);
}
@font-face {
  font-family: NunitoItalic;
  src: url(font/Nunito-Italic.ttf);
}
input { 
	outline: none; 
}
a{
	text-decoration: none;
	color:white;
	border:none;
}
::-webkit-scrollbar {
  width: 2px;
  height:2px;
  
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
}
::-webkit-scrollbar-thumb {
  background: #2c373c; 
  border-radius:15px;
}
/*
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: red; 
}*/
/* < HOME PAGE */
.wrapHomePage{
	display:flex;
	justify-content: center;
	flex-direction: column;
}/*
.leftWall{
	width:1%;
	height:200vh;
	background:#46b4b7;
	position:absolute;
}
.rightWall{
	width:1%;
	height:200vh;
	background:#46b4b7;
	position:absolute;
	right:0;
	top:0;
}*/
header{
	width:95%;
	height:110px;
	background:#222a31;
	margin:0 auto;
}
.leftWall{
	width:1%;
	height:200vh;
	background:#46b4b7;
	position:absolute;
}
.rightWall{
	width:1%;
	height:200vh;
	background:#46b4b7;
	position:absolute;
	right:0;
	top:0;
}	

.logo{
	width:100px;
	height:50px;
	background:url(obr/logo.png);
	background-size:contain;
	background-repeat:no-repeat;
	display:inline-block;
	margin:25px;
}
.wrapLoginForms{
	width:165px;
	height:75px;
	float:right;
	margin-right:15px;
	margin-top:15px;
}
.loginButton{
	width:160px;
	height:35px;
	color:white;
	background:#ac3757;
	display:inline-block;
	border:none;
	font-family:NunitoBold;
	font-size:22px;
	float:right;
	border-bottom:4px solid #8c314d;
	border-radius:3px;
	cursor:pointer;
}
.txt{
	font-size:16px;
	color:white;
	display:inline-block;
	font-family:NunitoBold;
	
}
.registerButton{
	width:120px;
	height:28px;
	color:white;
	background:#ac3757;
	display:inline-block;
	border:none;
	font-family:NunitoBold;
	font-size:16px;
	border-radius:3px;
	cursor:pointer;
	}
article{
	width:95%;
	height:560px;
	margin:0 auto;
	background:url(obr/headPhoto.jpg);
	background-size:cover;
	background-position:bottom;
	background-repeat:no-repeat;
}
.iconRestaurant{
	width:90px;
	height:60px;
	background:url(obr/restaurantIcon.png);
	background-size:contain;
	background-position:bottom;
	background-repeat:no-repeat;
	margin:0 auto;
	margin-top:150px;
}
h1{
	color:white;
	font-size:70px;
	margin:0 auto;
	text-align:center;
}
.h1{
	color:white;
	font-size:35px;
	margin:0 auto;
	text-align:center;
	font-family:NunitoBold;
}
hr{
	width:300px;
	background:white;
	height:3px;
	border-radius:15px;
}
.findRestaurant {
	width:95%;
	margin:0 auto;
	background:#222a31;
	height:100px;
	text-align:center
}
.findRestaurantButton{
	width:250px;
	height:35px;
	color:white;
	background:#ac3757;
	border:none;
	font-size:18px;
	text-align:center;
	border-bottom:4px solid #8c314d;
	margin-top:30px;
	border-radius:5px;
	cursor:pointer;
	font-family:NunitoBold;
}
/* HOME PAGE > */
/* < LOGIN LOGOUT */
#login{
	width:300px;
	height:380px;
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background:#222a31;
	color:white;
	border-radius:15px;
	border:2px solid #323a3f;
	box-shadow: 0px 0px 83px 17px rgba(0,0,0,0.75);
	display:none;
}
.loginHead{
	width:80%;
	margin:0 auto;
	text-align:center;
	font-size:40px;
	font-family:NunitoBold;
	margin-top:30px;
	margin-bottom:30px;
}
.loginLabel{
	font-size:14px;
}
.loginInput{
	width:90%;
	height:30px;
	margin:0 auto;
	margin-top:10px;
	border-radius:10px;
	margin-bottom:10px;
	border: 2px solid #495054;
	font-family:NunitoBold;
	text-align:center;
}
.loginSubmit {
	margin:0 auto;
	text-align:center;
	background: #ac3757;
	border:none;
	color:white;
	width:140px;
	height:40px;
	font-family:NunitoBold;
	font-size:18px;
	border-bottom:4px solid #8c314d;
	border-radius:5px;
	margin-top:20px;
	cursor:pointer;
}
.loginWrap{
	margin-left:26px;
	text-align:left;
}
.login {
	text-align:center;
}
#exit {
	position:absolute;
	right:0;
	font-family:NunitoBold;
	margin:12px;
	color: #495054;
	cursor:pointer;
	
}
#registerHub{
	width:400px;
	height:300px;
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background:#222a31;
	color:white;
	border-radius:15px;
	border:2px solid #323a3f;
	box-shadow: 0px 0px 83px 17px rgba(0,0,0,0.75);
	text-align:center;
	display:none;
}
.registerHubHead{
	width:80%;
	margin:0 auto;
	text-align:center;
	font-size:40px;
	font-family:NunitoBold;
	margin-top:30px;
	margin-bottom:30px;
}
.leftReg,.rightReg{
	width:80%;
	border:1px solid #8c314d;
	margin:0 auto;
	background: #ac3757;
	border-bottom:4px solid #8c314d;
	border-radius:5px;
	font-size:20px;
	font-family:NunitoBold;
	margin-bottom:10px;
	cursor:pointer;
}



/*< registercustomer.html */
.registerCustomer{
	text-align:center;

}
#registerCustomer{
	width:100%;
	height:auto;
	color:white;
	border-radius:15px;
	box-shadow: 0px 0px 83px 17px rgba(0,0,0,0.75);
	text-align:left;
}
.regInput{
	width:100%;
	height:30px;
	margin-top:10px;
	border-radius:10px;
	margin-bottom:10px;
	border: 2px solid #495054;
	font-family:NunitoBold;
	text-align:left;
	padding:3px;
}
.regLabel{
	margin-left:10px;
	font-size:14px;
}
.regWrapRight{
	width:280px;
	text-align:left;
	margin-left:-5px;
	margin:0 auto;
}
.regWrapLeft{
	width:280px;
	text-align:left;
	margin:0 auto;
}
.regSubmit {
	background: #ac3757;
	border:none;
	color:white;
	width:140px;
	height:40px;
	font-family:NunitoBold;
	font-size:18px;
	border-bottom:4px solid #8c314d;
	border-radius:5px;
	margin-top:20px;
	margin-bottom:20px;
	cursor:pointer;
}

/*registercustomer.html >*/
/*< registercompany.html */
.registerCompany{
	text-align:center;
}
#registerCompany{
	width:100%;
	height:auto;
	color:white;
	border-radius:15px;
	box-shadow: 0px 0px 83px 17px rgba(0,0,0,0.75);
	text-align:left;
}
.registerCompanyNext2{
	text-align:center;

}
#registerCompanyNext2{
	width:700px;
	height:250px;
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background:#222a31;
	color:white;
	border-radius:15px;
	border:2px solid #323a3f;
	box-shadow: 0px 0px 83px 17px rgba(0,0,0,0.75);
	text-align:left;
	display:none;
}
/*registercompany.html >*/


/* LOGIN LOGOUT > */


/* < MENU in profilecompany.html */
.menu {
	width:250px;
	min-height:100vh;
	height:auto;
	box-sizing:border-box;
	background:#222a31;
	display:block;
	margin-left:-170px;
	z-index:30;
	position: absolute;
	top:0;
}
.menu:hover {
	transition:.3s ease-out;
	margin-left:-10px;
}
.ulMenu {
	height:100vh;
	margin:0 auto;
	padding:0;
	overflow-x:hidden;
	border-right: 1px solid black;
}

.ulMenu::-webkit-scrollbar {
  width: 2px;
  
}
.ulMenu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
}
.ulMenu::-webkit-scrollbar-thumb {
  background: #2c373c; 
  border-radius:15px;
}
.liMenu {
	margin:0 auto;
	width:230px;
	height:70px;
	list-style:none;
	margin-bottom:20px;
	
}
.aMenu {
	text-decoration: none;
}
.menuText {
	width:150px;
	height:60px;
	color:white;
	display:inline-block;
	text-align:right;
	margin:0 auto;
	margin-right:10px;
	background:#192024;
	padding-top:10px;
	padding-right:10px;
	overflow:auto;
	margin-top:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #2c373c; 
	border-right:1px solid #2c373c; 
}
.picMessage {
	width:50px;
	height:70px;
	background:url(obr/message.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	display:inline-block;
}
.picPinned{
	width:50px;
	height:70px;
	background:url(obr/pinned.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	display:inline-block;
	
}
.picOrders{
	width:50px;
	height:70px;
	background:url(obr/orders.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	display:inline-block;
	
}
.picCalendar{
	width:50px;
	height:70px;
	background:url(obr/calendar.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	display:inline-block;
	
}
.picWeekly{
	width:50px;
	height:70px;
	background:url(obr/weekly.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	display:inline-block;
	
}
.picMenu{
	width:50px;
	height:70px;
	background:url(obr/menu.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	display:inline-block;
	
}
.picRestaurant{
	width:50px;
	height:70px;
	background:url(obr/restaurant.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	display:inline-block;
	
}
/* MENU in profilecompany.html > */


/* CONTAINERS in profilecompany.html > */
.twoThirdContainer{
	width:60%;
	height:40vh;
	background:#222a31;
	border-radius:10px;
	display:inline-block;
	margin-left:2%;
}
.thirdContainer{
	width:35%;
	height:40vh;
	background:#222a31;
	border-radius:10px;
	display:inline-block;
}
.wrapContainers{
	display:block;
	width:90%;
	/*overflow:auto;*/
	margin-left:2%;
	margin-right:2%;
	margin-top:20px;
}
.wrapMenu {
	display:inline-block;
}
.wrap {
	width:95%;
	color:white;
	box-sizing:border-box;
	display:inline-block;
	min-height:100vh;
	overflow-y:hidden;
	overflow-x:hidden;
	position:absolute;
	right:0;
	z-index:20;
}
.categoryHeader{
	width:85%;
	margin:0 auto;
	
}
.categoryText{
	display:inline-block;
	font-size:30px;
	margin-top:30px;
	margin-bottom:20px;
}
.headTextContainer{
	width:100%;
	margin:0 auto;
	font-size:25px;
	padding:10px;
}


/* CONTAINERS in profilecompany.html > */



/* < reservation.html */


.leftWallReservation{
	width:2%;
	height:100vh;
	background:#1da4b1;
	position:absolute;
	position:fixed;
	display:none;
}
.rightWallReservation{
	width:2%;
	height:100vh;
	background:#1da4b1;
	position:absolute;
	right:0;
	top:0;
	position:fixed;
	display:none;
	
}
.logoBottom{
	width:50px;
	height:50px;
	background:url(obr/logo.png);
	background-size:contain;
	background-repeat:no-repeat;
	display:inline-block;
	margin-right:20px;
	position:fixed;
	right:0;
	bottom:10px;
}
h2 {
	width:100%;
	margin:0 auto;
	height:80px;
	text-align:left;
	color:white;
	font-size:30px;
	padding-left:35px;
	padding-top:20px;
}
.wrapReservation {
	width:100%;
	margin:0 auto;
}
.reservationLabel{
	color:white;
}
.reservationNameRestaurant{
	color:white;
	background:#1da4b1;
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:10px;
	margin:0 auto;
	font-family:NunitoBold;
	text-align:center;
}
.reservationDate{
	color:white;
	display:block;
}
.reservationInputDate{
	font-family:NunitoBold;
	padding:13px;
	margin-top:10px;
	font-size:15px;
	padding-top:15px;
	background:white;
	border:none;
	border-bottom:2px solid white;
	border-radius:10px;
	border:none;
	color:black;
	margin-bottom:10px;
}
.reservationInput{
	width:40px;
	height:40px;
	padding-left:10px;
	font-size:15px;
	font-family:NunitoBold;
	background:white;
	border-radius:10px;
	border:none;
	color:black;
}
.reservationColon{
	display:inline-block;
	font-size:25px;
	color:white;
	margin:10px;
	
}
.reservationSelect{
	width:60px;
	height:40px;
	padding:8px;
	font-size:15px;
	font-family:NunitoBold;
	background:white;
	border-radius:10px;
	border:none;
	color:black;
}
.reservationContainer{
	margin-right:40px;
	margin-top:20px;
	display:inline-block;
}
.reservationContainer2{
	margin-top:20px;
	width:100%;
	display:inline-block;
}
.reservationInfo{
	color:white;
	font-size:12px;
	width:100%;
	margin-bottom:30px;
}
.reservationTable {
	width:100%;
	background:#1b2023;
	padding-top:10px;
}

.reservationGrid{
	width:90%;
	height:300px;
	display:block;
	background:#283941;
	margin:0 auto;
	border-radius:15px;
	margin-bottom:40px;
}
.wrapReservationContainers{
	width:80%;
	text-align:left;
	margin:0 auto;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
}

.container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #fb5048;
  border-radius:10px;
}
.line {
	display:inline-block;
	margin: 7px;
}
.wrapLines{
	width:98%;
	padding-top:10px;
	text-align:center;
}
.reservationTableInfo{
	display:inline-block;
	width:100%;
}
.reservationTableText{
	width:80%;
	font-size:30px;
	text-align:left;
	color:white;
	margin:0 auto;
	padding:20px;
}
.reservationTableText2{
	width:100%;
	font-size:30px;
	text-align:center;
	color:white;
	margin-top:40px;
	margin-bottom:20px;
}
.reservationChoose{
	width:90%;
	height:150px;
	background:#283941;
	border-radius:30px;
	text-align:center;
	margin:0 auto;
}
.reservationChooseText{
	display:inline-block;
	font-size:30px;
	color:white;
	margin:0 auto;
	margin-top:20px;
	margin-right:20px;
	font-family:NunitoBold;
}
.reservationTableName{
	display:inline-block;
	font-size:30px;
	color:black;
	margin:0 auto;
	background:white;
	padding:10px;
	border-radius:15px;
	font-family:NunitoBold;
}
.reservationChooseInput{
	font-family:NunitoBold;
	width:70px;
	display:inline-block;
	font-size:30px;
	color:black;
	margin:0 auto;
	background:white;
	padding:10px;
	border-radius:15px;
	border:none;
	text-align:center;
	margin-left:10px;
}
.reservationLegendTables{
	width:100%;
	text-align:center;
}
.whiteSquare{
	width:15px;
	height:15px;
	background:white;
	display:inline-block;
}
.reservationLegendText{
	display:inline-block;
	font-size:15px;
	color:white;
}
.yellowCircle{
	margin-left:30px;
	width:15px;
	height:15px;
	background:#ffff0d;
	border-radius:20px;
	display:inline-block;
	
}
.blueCircle{
	width:15px;
	height:15px;
	background:#8fb5c1;
	border-radius:20px;
	display:inline-block;
	
}
.redCircle{
	margin-left:30px;
	width:15px;
	height:15px;
	background:#ac3757;
	border-radius:20px;
	display:inline-block;
	
}
.reservationSubmit{
	width:250px;
	height:40px;
	background:#1da4b1;
	border:none;
	font-size:18px;
	color:white;
	font-family:NunitoBold;
	margin-top:20px;
	margin-bottom:20px;
}
.wrapSubmitReservation{
	text-align:center;
}
.categoryName{
	width:80%;
	height:30px;
	padding-top:10px;
	padding-bottom:10px;
	border:none;
	background:#1da4b1;
	font-family:NunitoBold;
	border-radius:10px;
	color:white;
	font-size:20px;
	margin-top:20px;
	display:inline-block;
}
.foodWrap{
	margin:0 auto;
	margin-bottom:10px;
	width:70%;
	height:auto;
	background:white;
	padding:10px;
	position:relative;
	border-radius:20px;
	color:black;
}
.foodName{
	width:80%;
	text-align:left;
	margin:0;
	font-family:NunitoBold;
}
.ingrName{
	width:80%;
	text-align:left;
	margin:0;
	font-family:NunitoItalic;
	font-size:13px;
	margin-top:3px;
}
.alerName{
	width:80%;
	text-align:left;
	margin:0;
	font-size:11px;
	margin-top:3px;
	
}
.foodPrice{
	position:absolute;
	top:0;
	right:0;
	padding:10px;
	margin:0;
	font-family:NunitoBold;
	background:#cfedf4;
	font-size:13px;
	width:85px;
}
.countWrap{
	position:absolute;
	padding:0;
	margin:10px;
	bottom:0;
	right:0;
}
.plusBtn{
	display:inline-block;
	color:white;
	background:#73be1e;
	width:25px;
	height:25px;
	font-family:NunitoBold;
	border-radius:10px;
}
.countBtn{
	display:inline-block;
	width:30px;
	background:white;
	border:none;
	text-align:center;
}
.minusBtn{
	display:inline-block;
	color:white;
	background:#c2000b;
	width:25px;
	height:25px;
	font-family:NunitoBold;
	border-radius:10px;
}
#wrapMenuCategory{
	width:100%;
	text-align:center;
	margin:0 auto;
}
.aboutMenu{
	width: 30%;
	border-radius:10px;
	display:flex;
}
.aboutMenu2{
	width: 100%;
	border-radius:10px;
	margin-top:5px;
	display:flex;
}
.aboutMenuText{
	text-align: center;
	background:#283941;
	color:white;
	margin:5px;
	padding:10px;
	font-size:14px;
}
#aboutMenuInputs{
	background:white;
	width: 100%;
	display: flex;
	border-radius:10px;
	margin-top:10px;
}
.aboutMenuTextFood{
	text-align: center;
	border-radius:4px;
	background:white;
	color:black;
	margin:5px;
	padding:5px;
	font-size:14px;
	
}
.wrapReservationPrice{
	width:45px;
	text-align: center;
	border-radius:10px;
	background:black;
	color:white;
	margin:5px;
	
	
}
.addAboutMenuInputs{
	margin-top:10px;
	width:30px;
	height:20px;
	border-radius:5px;
	color:black;
	font-family:NunitoBold;
	background:white;
	font-size:22px;
	text-align:center;
	padding-bottom:10px;
	cursor:pointer;
}
.addNewCategory{
	margin-top:10px;
	width:40px;
	height:30px;
	border-radius:5px;
	color:white;
	font-family:NunitoBold;
	background:#c2000b;
	font-size:30px;
	text-align:center;
	padding-bottom:10px;
	cursor:pointer;
	
}
.aler{
	display:block;
}

/* reservation.html > */


/* < search form in index.html */
#search{
	width:95%;
	margin:0 auto;
	height:auto;
	background:#222a31;
}
h3 {
	width:100%;
	color:white;
	font-size:40px;
	text-align:center;
	padding-top:40px;
}
.searchLabel{
	width:100%;
	display:inline-block;
	color:white;
	text-align: left;
}
.wrapFormSearch{	
	height:70px;
	display:inline-block;
	margin:5px;
}
.optionText{
	display:inline-block;
	font-size:12px;
	color:white;
}
.searchInput{
	width:150px;
	height:30px;
	border:none;
	margin-top:15px;
	font-family:NunitoBold;
}
.wrapFirstForm{
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}
.wrapSecondForm{
	display: flex;
	justify-content: left;
	display:none;
}
.wrapFormSearchCheckBox{
	margin-top:40px;
	height:40px;
}
.wrapFormSearchSubmit{
	margin:5px;
	height:40px;
}
.searchSubmit{
	width:70px;
	font-family:NunitoBold;
	padding:10px;
	border:none;
	background:#ac3757;
	color:white;
}
.searchInputSearch{
	width:150px;
	height:20px;
	border:none;
	margin-top:15px;
	font-family:NunitoBold;
	padding:5px;
}
.wrapWholeForm{
	width:80%;
	margin:0 auto;
	
}
/* search form in index.html > */

/* < restaurants in index.html */
.wrapRestaurants {
	padding-top:60px;
	padding-bottom:80px;
	text-align:center;
}
.infoRestaurant{
	width:300px;
	height:350px;
	background:#ac3757;
	padding-top:15px;
	position:relative;
	margin-bottom:80px;
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
}
.nameRestaurant{
	width:78%;
	height:60px;
	font-size:20px;
	color:white;
	margin:0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
}
.peopleAndPriceSpace {
      border-bottom: 40px solid #222a31;
      border-left: 20px solid transparent;
      border-right: 0px solid transparent;
      height: 0;
      width: 50px;
	  transform:rotate(-90deg);
	  position:absolute;
	  right:-20px;
	  top:0;
}
.groupPeople{
	  position:absolute;
	  right:0;
	  top:0;
}
.person{
	width:7px;
	height:18px;
	background:url(obr/person.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:right;
	display:inline-block;
}
.groupPrice{
	  position:absolute;
	  right:0;
	  top:20px;
	
}
.price{
	width:8px;
	height:20px;
	background:url(obr/euro.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:right;
	display:inline-block;
	margin-left:-2px;
	
}
.whiteWrap{
	width:80%;
	height:250px;
	background:white;
	margin:0 auto;
	margin-top:10px;
	padding-top:5px;
}
.logoRestaurant {
	width:150px;
	height:150px;
	margin:0 auto;
	background:url(obr/logorestaurant.png);
	background-size:contain;
	background-repeat:no-repeat;
}
.groupStars{
	text-align:center;
	margin-top:5px;
}
.star{
	width:25px;
	height:25px;
	background:url(obr/star.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:right;
	display:inline-block;
	
}
.staryellow{
	width:25px;
	height:25px;
	background:url(obr/staryellow.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:right;
	display:inline-block;
	
}
.percent{
	margin:0 auto;
	text-align:center;
	font-family:NunitoBold;
	font-size:25px;
	
}
.groupCircles{
	margin:0 auto;
	text-align:center;
	
}
.circle{
	width:10px;
	height:10px;
	border-radius:10px;
	display:inline-block;
	background:#222a31;
}
.circlegreen{
	background:#80c41c;
}
.circlelightgreen{
	background:#cce70b;
}´
.circleorange{
	background:#ff8000;
}
.circlered{
	background:#c2000b;
}
.cyanWrap{
	background:#46b4b7;
	width:100%;
	height:50px;
	position:relative;
}
.chooseText{
	width:100%;
	margin:0 auto;
	text-align:center;
	font-family:NunitoBold;
	display:inline-block;
	font-size:20px;
	color:white;
	margin-top:10px;
}
.fromPrice{
	position:absolute;
	font-size:15px;
	color:white;
	right:10px;
	top:10px;
}	

/* restaurants in index.html > */		

/* < owner - registerrestaurant1.html */
.yourRestaurantContainer{
	width:85%;
	height:55vh;
	margin-left:2%;
	margin-bottom:2%;
	position:relative;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	background:#222c31;
	padding-top:30px;
	overflow-y:scroll;
	margin:0 auto;
}
.yourRestaurantContainer::-webkit-scrollbar {
  width: 2px;
  
}
.yourRestaurantContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
}
.yourRestaurantContainer::-webkit-scrollbar-thumb {
  background: #2c373c; 
  border-radius:15px;
}

.yourRestaurant{
	width:30%;
	height:260px;
	background:#29343b;
	border-radius:20px;
	margin-left:5px;
	margin-right:5px;
	display:inline-block;
	margin-bottom:30px;
}
.yourRestaurantName{
	width:80%;
	margin:0 auto;
	text-align:center;
	padding-top:10px;
	margin-bottom:10px;
}
.yourRestaurantLogo{
	width:80%;
	height:150px;
	background:white;
	margin:0 auto;
}
.yourRestaurantAdress{
	width:80%;
	margin:0 auto;
	margin-top:10px;
	text-align:center;
	font-size:14px;
}
.yourRestaurants{
	width:100%;
	text-align:center;
}
.noRestaurantText{
	text-align:center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size:30px;
	margin:0;
	font-family:NunitoBold;
	color:#86a9b5;
}
.addRestaurantContainer{
	width:85%;
	height:20vh;
	margin-left:2%;
	background:#222c31;
	border-radius:20px;
	position:relative;
	margin:0 auto;
	margin-top:2%;
}
.addRestaurantButton{
	border-radius:10px;
	width:200px;
	height:100px;
	background:#29353b;
	color:#86a9b5;
	position:absolute;
	top: 50%;
	right: 5%;
	transform: translate(0%, -50%);
}
.addRestaurantPlus{
	float:right;
	padding:0;
	margin:10px;
	font-family:NunitoBold;
}
.addRestaurantText{
	width:70%;
	margin:0 auto;
	margin-top:20px;
	font-family:NunitoBold;
	height:30px;
	text-align:center;
	font-size:20px;
	
	
}
/* owner - registerrestaurant1.html > */
/* < owner - registerstep1.html */
.categoryNumber{
	width:20px;
	display:inline-block;
	text-align:center;
	font-size:25px;
}
.categoryNumbers{
	float:right;
	display:inline-block;
	font-family:NunitoBold;
	margin-top:20px;
	color:#8eb5c1;
}
.aboutRestaurantOne{
	width:85%;
	height:70vh;
	margin-bottom:2%;
	position:relative;
	border-radius:20px;
	background:#222c31;
	padding-top:30px;
	margin:0 auto;
}
.numberColor{
	color:white;
}
.aboutRestaurantInputs{
	width:35%;
	height:65vh;
	background:#29343b;
	border-radius:20px;
	margin-left:3%;
	margin-right:3%;
	display:inline-block;
	margin-bottom:30px;
	overflow:auto;
	padding-top:10px;
	text-align:left;
	
}
.aboutRestaurantLabel{
	width:100%;
	text-align:center;
	font-family:NunitoBold;
	font-size:18px;
	margin-left:15px;
	
}
.aboutRestaurantInput{
	width:90%;
	height:30px;
	border:none;
	border-radius:10px;
	margin-left:10px;
	margin-top:20px;
	margin-bottom:20px;
	
}
.textAboutRestaurant{
	width:55%;
	height:65vh;
	background:#29343b;
	border-radius:20px;
	margin-right:3%;
	display:inline-block;
	margin-bottom:30px;
	overflow:auto;
	padding-top:10px;
	
}
.aboutRestaurantTextArea{
	width:80%;
	height:50vh;
	border:none;
	border-radius:15px;
	margin:20px;
	padding:10px;
    resize: none;
	
}
.next2{
	font-family:NunitoBold;
	font-size:18px;
	float:right;
	
}
/* owner - registerstep1.html > */

/* < owner - registerstep2.html */
.aboutRestaurantInputs2{
	width:40%;
	height:57vh;
	border:none;
	border-radius:15px;
	margin:10px;
	padding:10px;
	background:#29343b;
	display:inline-block;
	overflow:auto;
	text-align:left;
	
}
.aboutRestaurantOne2{
	width:85%;
	height:70vh;
	margin-bottom:2%;
	position:relative;
	border-radius:20px;
	background:#222c31;
	padding-top:30px;
	margin:0 auto;
	
}
.aboutRestaurantWrap{
	text-align:center;
}


/* owner - registerstep2.html > */
/* < owner - registerstep3.html */
.infoRestaurantThird{
	width:25%;
	height:20vh;
	border:none;
	margin:10px;
	padding:10px;
	background:#29343b;
	display:inline-block;
	overflow:auto;
	text-align:left;
}
.infoRestaurantThird2{
	width:25%;
	height:35vh;
	border:none;
	margin:10px;
	padding:10px;
	background:#29343b;
	display:inline-block;
	text-align:left;
	overflow:auto;
}
.wrapCheckboxes{
	width:80px;
	margin-top:20px;
	display:inline-block;
	text-align:left;
}
.aboutRestaurantCheckbox{
	width:20px;
	height:20px;
}
.logoText{
	width:90%;
	margin:0 auto;
	margin-top:20px;
	font-size:14px;
}
.logoInput{
	border:none;
	background:white;
	color: transparent;
	font-family:Nunito;
	margin-top:10px;
	width:100px;
}
.wrapFile{
	text-align:center;
}
.logoInput::-webkit-file-upload-button {
  visibility: hidden;
}
.logoInput::before {
	content: 'Vybrat logo';
	color: black;
	display: inline-block;
	outline: none;
	font-family:NunitoBold;
	cursor: pointer;
	margin-top:15px;
	margin-left:10px;
}
.logoInput:hover::before {
  border-color: black;
}
.logoInput:active {
  outline: 0;
}
.logoInput:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}
.infoLogoPic{
	width:80%;
	height:250px;
	background:white;
	margin:0 auto;
	background:url(obr/logorestaurant.png);
	background-size:contain;
	background-repeat:no-repeat;
	margin-top:10px;
	background-position:center;
}
.minWrapText{
	display:inline-block;
	margin:5px;
}
.minInput{
	border:none;
	width:70px;
	height:30px;
	border-radius:10px;
	display:inline-block;
	padding:5px;
	font-family:NunitoBold;
	text-align:center;
}
.minWrap{
	margin-top:20px;
	text-align:center;
}
/* owner - registerstep3.html > */
/* < owner - registerstep4.html  */
.aboutRestaurantKeywords{
	width:40%;
	height:60vh;
	border:none;
	margin-right:10px;
	padding:10px;
	background:#29343b;
	display:inline-block;
	overflow:auto;
	text-align:left;
}
.wrapKeywords{
	margin-top:15px;
	margin-left:20px;
}
/* owner - registerstep4.html > */
/* < owner - registerstep5.html  */
.closedCheckbox{
	display:inline-block;
	overflow:auto;
}
.closedDay{
	display:inline-block;
	font-size:15px;
	margin-left:20px;
}
.openDay{
	margin-right:20px;
	display:inline-block;
	font-family:NunitoBold;
}
.openHours {
	min-width:95%;
	height:63vh;
	width:620px;
	padding-top:50px;
	padding-bottom:2px;
	background:#29343b;
	margin:0 auto;
	margin-bottom:10px;
	border-radius:10px;

}
.reservationSelect2{
	width:60px;
	height:40px;
	padding:8px;
	font-size:15px;
	font-family:NunitoBold;
	background:white;
	border-radius:10px;
	border:none;
	color:black;
	
}
.reservationInput2{
	width:40px;
	height:40px;
	padding-left:10px;
	font-size:15px;
	font-family:NunitoBold;
	background:white;
	border-radius:10px;
	border:none;
	color:black;
}
.aboutRestaurantOne5{
	width:85%;
	height:70vh;
	margin-bottom:2%;
	position:relative;
	border-radius:20px;
	background:#222c31;
	padding-top:20px;
	padding-bottom:20px;
	margin:0 auto;
	
}
/* owner - registerstep5.html > */
/* < owner - registerstep6.html */
.aboutRestaurantOne6{
	width:85%;
	height:70vh;
	margin-bottom:2%;
	position:relative;
	background:#222c31;
	padding-top:20px;
	padding-bottom:20px;
	margin:0 auto;
	overflow-y:auto;
	overflow-x:hidden;
	
}
.categoryNameReg{
	width:80%;
	height:30px;
	padding-top:10px;
	padding-bottom:10px;
	border:none;
	background:#8fb5c1;
	font-family:NunitoBold;
	border-radius:10px;
	color:white;
	font-size:20px;
	margin-top:20px;
	display:inline-block;
	text-align:center;
	margin-bottom:10px;
}
.foodWrapReg{
	margin:0 auto;
	margin-bottom:10px;
	width:70%;
	height:auto;
	background:white;
	padding:10px;
	position:relative;
	border-radius:20px;
	color:black;
}
.foodNameReg{
	width:70%;
	font-family:NunitoBold;
	border:none;
	text-align:left;
	margin-left:-20%;
	border-bottom:1px solid black;
}
.ingrNameReg{
	width:70%;
	text-align:left;
	margin:0;
	font-family:NunitoItalic;
	font-size:13px;
	margin-top:3px;
	margin-left:-20%;
	border:none;
	border-bottom:1px solid black;
}
.alerNameReg{
	width:70%;
	text-align:left;
	margin:0;
	font-size:11px;
	margin-top:3px;
	margin-left:-20%;
	border:none;
	border-bottom:1px solid black;
}
.foodPriceReg{
	position:absolute;
	top:0;
	color:white;
	right:0;
	padding:10px;
	margin:0;
	font-family:NunitoBold;
	background:#8fb5c1;
	font-size:13px;
	width:85px;
	border:none;
	text-align:center;
}
.newItem {
	width:25px;
	height:25px;
	color:black;
	border-radius:10px;
	background:white;
	font-family:NunitoBold;
	display:inline-block;
	float:right;
	cursor:pointer;
}
.newCategory {
	width:35px;
	height:35px;
	color:white;
	border-radius:10px;
	background:#8fb5c1;
	font-family:NunitoBold;
	display:inline-block;
	float:left;
	font-size:25px;
	cursor:pointer;
}
.wrapButtons{
	width:80%;
	margin:0 auto;
}
.exitFoodReg{
	font-family:NunitoBold;
	position:absolute;
	right:0;
	bottom:0;
	margin-right:15px;
	margin-bottom:10px;
	cursor:pointer;
}
/* owner - registerstep6.html > */


    @media only screen and (max-device-width: 480px) {
		.aler{
			display:none;
		}
		.reservationContainer2{
			width:100%;
			margin:0 auto;
			display:block;
		}
		.reservationContainer {
			margin-right:0px;
		}
    }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
		.aler{
			display:block;
		}
		
    }
    @media only screen and (min-device-width: 481px) {
		.reservationContainer{
			width:180px;
		}
		.reservationContainer2{
			width:180px;
		}
		#wrapMenuCategory{
			width:90%;
		}
		
		.leftWallReservation{
			display:block;
		}
		.rightWallReservation{
			display:block;
			
		}	
		.registerCustomer{
			text-align:center;

		}
		#registerCustomer,#registerCompany{
			width:70%;
			margin:0 auto;
			margin-bottom:50px;
		}		
		
		
	}
   @media only screen and (min-width: 960px) {
		.reservationGrid{
			width:350px;
			height:350px;
			background:#283941;
			display:inline-block;
		}
		.reservationTableInfo{
			width:50%;
			margin-top:100px;
			float:right;
			display:inline-block;
		}
		.wrapGridTableInfo{
			width:80%;
			margin:0 auto;
		}
		.container {
		  font-size: 24px;
		}
		.checkmark {
		  height: 20px;
		  width: 20px;
		}
		.line {
			margin: 10px;
		}
		.wrapLines{
			margin-top:0px;
		}	
		h2{
			margin-left:2%;
		}
		.leftWallReservation{
			display:block;
		}
		.rightWallReservation{
			display:block;
			
		}
		.registerCustomer{
			text-align:center;

		}
		#registerCustomer,#registerCompany{
			width:80%;
			margin:0 auto;
			margin-bottom:50px;
		}	
		.regWrapLeft{
			display:inline-block;
		}	
		.regWrapRight{
			margin-left:20px;
			display:inline-block;
			margin-bottom:30px;
		}
		.regSubmit {
			display:block;
			margin:0 auto;
		}
		
		
		
    }
    @media only screen and (min-width: 1440px) {
		.reservationGrid{
			background:white;
		}
		.reservationGrid{
			width:510px;
			height:490px;
			background:#283941;
			display:inline-block;
		}
		.reservationTableInfo{
			width:50%;
			text-align:center;
			margin-top:100px;
			float:right;
			display:inline-block;
		}
		.wrapGridTableInfo{
			width:80%;
			margin:0 auto;
		}
		.container {
		  font-size: 34px;
		}
		.checkmark {
		  height: 29px;
		  width: 29px;
		}
		.line {
			margin: 18px;
		}
		.wrapLines{
			margin-top:0px;
			padding-top:0px;
		}	
		.reservationChoose {
			height:250px;
		}
		.reservationChoose{
			height:250px;
		}
		.reservationChooseText{
			font-size:50px;
			margin-top:30px;
		}
		.reservationTableName{
			font-size:50px;
		}
		.reservationChooseInput{
			font-size:50px;
		}
		.reservationLegendTables{
			width:40%;
			display:inline-block;
			text-align:center;
		}
	}
    @media only screen and (min-width: 2000px) {
		
		.reservationGrid{
			background:white;
		}
		.reservationGrid{
			width:700px;
			height:700px;
			background:#283941;
			display:inline-block;
		}
		.reservationTableInfo{
			width:50%;
			text-align:center;
			margin-top:100px;
			float:right;
			display:inline-block;
		}
		.wrapGridTableInfo{
			width:80%;
			margin:0 auto;
		}
		.container {
		  font-size: 48px;
		}
		.checkmark {
		  height:50px;
		  width: 50px;
		}
		.line {
			margin: 25px;
		}
		.wrapLines{
			margin-top:0px;
			padding-top:0px;
		}	
		.reservationChoose{
			height:400px;
		}
		.reservationChooseText{
			font-size:80px;
			margin-top:60px;
		}
		.reservationTableName{
			font-size:80px;
		}
		.reservationChooseInput{
			font-size:80px;
		}
		.reservationLegendTables{
			width:100%;
			display:inline-block;
			text-align:center;
		}
		
		.whiteSquare{
			width:35px;
			height:35px;
			background:white;
			display:inline-block;
		}
		.reservationLegendText{
			display:inline-block;
			font-size:30px;
			color:white;
		}
		.yellowCircle{
			margin-left:30px;
			width:35px;
			height:35px;
			background:#ffff0d;
			border-radius:20px;
			display:inline-block;
			
		}
		.blueCircle{
			width:35px;
			height:35px;
			background:#8fb5c1;
			border-radius:20px;
			display:inline-block;
			
		}
		.redCircle{
			margin-left:30px;
			width:35px;
			height:35px;
			background:#ac3757;
			border-radius:20px;
			display:inline-block;
			
		}
		.reservationTableText{
			font-size:50px;
		}
		.reservationInfo{
			font-size:25px;
		}
		.reservationInputDate{
			font-size:40px;
			padding:30px;
			margin:0;
		}
		.reservationInput{
			width:100px;
			height:100px;
			font-size:50px;
		}
		.reservationColon{
			font-size:50px;
			
		}
		.reservationSelect{
			width:100px;
			height:100px;
			font-size:40px;
		}
		.reservationDate{
			margin-bottom:30px;
			font-size:40px;
			
		}
		.reservationNameRestaurant{
			font-size:40px;
		}
		.reservationContainer{
			width:500px;
		}
		.reservationContainer2{
			width:300px;
		}
		h2{
			font-size:50px;
			padding-top:30px;
			padding-bottom:30px;
			padding-left:30px;
		}
		.reservationTableText2{
			font-size:50px;
		}	
		.categoryName{
			font-size:40px;
			height:60px;
		}
		.aboutMenuText{
			font-size:35px;
		}
		.aboutMenuTextFood{
			font-size:35px;
		}
		.reservationSubmit{
			width:500px;
			height:100px;
			font-size:35px;
		}
		.plusButton{
			height:45px;
		}
		.minusButton {
			height:45px;
		}	
	}
